body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-family: "Times New Roman", Times, serif;
  font-size:13px;
  text-indent: 50px;
  margin:0;
  padding:0;
}

select{
  border:none;
  appearance: none;
  font-family: "Times New Roman", Times, serif;
  font-size:13px;
}
input{
  font-family: "Times New Roman", Times, serif;
  font-size:13px;
}
table{
  width:100%;
  font-family: "Times New Roman", Times, serif;
  font-size:13px;
}

.info{
  width:100%;
  border:none;
  background: lightgreen;
}
.rowTable{
  border:none;
  border-bottom:1px solid black;
}
.base{
  display:none;
}

@media print{
  @page{
    height:297mm;
    width:210mm;
  }

  #addList{
    page-break-before: always;
  }
  .newRow{
    display:none;
  }
  #baseButton{
    display:none;
  }
  p{
    page-break-inside:avoid;
  }
}

