html{
  font-size:62.5%; /*16px * 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}

body{
  margin:0;
  height:100vh;
  background-image:url(../public/images/WeatherBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size:1.6rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  color:#771921;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}

#root{
  height:100vh;
}

.container{
width:100%;
height:100%;
display:flex;
position: relative;
}
.weatherBlock{
  top:50%;
  left:50%;
  display:flex;
  justify-content: space-between;
  width:84rem;
  height:60rem;
  background-color:#fff;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index:1000;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  border-radius: 0.2rem;
}
.city{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  width:40rem;
  background-image:url(../public/images/City.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.weather{
  width:40rem;
}
.cityW{
  display:flex;
  width:100%;
  height:12.01rem;
  background-color:#45353D;
  filter:opacity(90%);
  font-size:4rem;
  align-items: center;
  color:#fff;
}
.cityWeather{
  margin: 0 auto;
  text-align: center;
}

.wind{
  display:none;
  margin:0 auto;
}
.cityDate{
  display:flex;
  width:100%;
  height:12.01rem;
  background-color:#863239;
  filter:opacity(90%);
  font-size:5rem;
  justify-content: center;
  align-items: center;
  color:#fff;
}
.cityWeatherItem{
  margin:0 auto;
  margin-bottom:30%;
  font-size:10rem;
}
.Temp{
  text-align: center;
}
.Temperature{
  font-size:10rem;
  text-align: center;
}

.tempMin{
  margin-right:1rem;
  
}
.tempMax{
  margin-left:1rem;
}

.press{
font-size:3rem;
text-align:center;
}

.chart{
  width:35rem;
  height:20rem;
  margin:0 auto;
}

.chartTitle{
  text-align: center;
}

/**********
Alerts styles
***********/
.alertBlock{
  opacity:0;
  position: absolute;
  top:5%;
  left:0;
  width:100%;
  height:4rem;
  background-color:red;
  color:#fff;
  display:flex;
  justify-content: right;
  align-items: center;
  z-index:1000;
}

.alert{
  width:100%;
  animation: alert 20s ease-in-out infinite;
  font-size:2rem;
  font-weight: bold;
}
@keyframes alert{
  0%{
    transform :translateX(96%);
  }
  100%{
    transform :translateX(2%);
  } 
}

@media(max-width:900px){
    html{
      font-size: 45%;
    }
    body{
      background-repeat: repeat;
    }
    .weatherBlock{
      width:42rem;
      height:140rem;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .city{
      width:100%;
    }
    .weather{
      width:100%;
    }
    .cityWeatherItem{
      margin-bottom: 0;
    }
    .cityW{
      height:8rem;
    }
    .cityDate{
      height:8rem;
    }
}